html
  head
    title loginPage
    link(rel="stylesheet", href="style/normalize.css")
    link(rel="stylesheet", href="style/group.css")

body
  div#header
    input(type="button", value="그룹 생성")#addGroup
  
  div#groupList
    - if(groupList)
      - for (var key in groupList)
        div.group
          img(alt="dirImg", src="../public/images.jpeg")
          a(href="/selectGroup?#{groupList[key]}") #{groupList[key]}
          
          
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  script(type="text/javascript", src="js/mainScript.js")
  script(type="text/javascript", src="js/userDirInterface.js")