html
  head
    title loginPage
    link(rel="stylesheet", href="style/normalize.css")
    link(rel="stylesheet", href="style/group.css")
    link(rel="stylesheet", href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")

body
  div#header
    input(type="button", value="그룹 생성")#addGroup
    input(type="button", value="개인 서버로")#goToPrivate
  
  div#groupList

  form(action="/addGroup", method="post")#diBox
    input(type="text", placeholder="그룹명을 입력하세요.", id="groupName")
    br
    input(type="submit", value="Create")
    
    div#addGroupErr #{addGroupErr}
          
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js")
  script(type="text/javascript", src="js/groupScript.js")
  script(type="text/javascript", src="js/groupDirInterface.js")