html
  head
    title loginPage
    link(rel="stylesheet", href="style/normalize.css")
    link(rel="stylesheet", href="style/main.css")
    link(rel="stylesheet", href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")

body
  div#header
    h3 welcome #{user.name}님! 
    a(href="/myPage") #{user.id}
    a(href="/logout") 로그아웃
    a(href="/group") 내 그룹
  div.wrap
    div
      table
        thead
          tr
            th #
            th 파일 이름
            th 생성 날짜
            th 수정 날짜
            th 남은 날짜
        tbody#tbody
  - if(addGroupErr)
    div#addGroupErr #{addGroupErr}
          
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js")
  script(type="text/javascript", src="js/mainScript.js")
  script(type="text/javascript", src="js/userDirInterface.js")